@font-face {
  font-family: 'Murky Buzz DEMO';
  src: url('http://www.wictorstenseke.se/css/fonts/MurkyBuzzDEMO.eot'); /* IE9 Compat Modes */
  src: url('http://www.wictorstenseke.se/css/fonts/MurkyBuzzDEMO.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.wictorstenseke.se/css/fonts/MurkyBuzzDEMO.woff') format('woff'), /* Pretty Modern Browsers */
       url('http://www.wictorstenseke.se/css/fonts/MurkyBuzzDEMO.ttf')  format('truetype'), /* Safari, Android, iOS */
}
