.avatar
  border-radius: 100%
  padding: 30px
  margin: 0 auto
  display: block

.biography
  padding-left: 10px
  padding-right: 10px
  max-width: 600px
  font-family: 'Crimson Text', Times New Roman, serif
  margin: 0 auto 12px auto

.social-icons
  text-align: center
  .linkedin-icon
    height: 50px
    width: auto
    .linkedin-icon-color
      fill: #0077B7
      /* &:hover
        fill: darken(#0077b7, 6%) */
  .linkedin-icon:hover
    .linkedin-icon-color
      fill: darken(#0077b7, 6%)
