.about-wrapper
  max-width: 800px
  margin: 0 auto

.avatar
  width: 200px
  border-radius: 100%
  padding: 30px
  margin: 65px auto 10px auto
  display: block

.biography
  color: $lighter-text-primary
  padding-left: 10px
  padding-right: 10px
  max-width: 600px
  font-family: 'Crimson Text', Georgia, Times New Roman, serif
  margin: 0 auto 12px auto

.social-icons
  padding: 10px
  text-align: center
  margin: 0 auto

.social-icon
  display: inline-block
  padding: 10px
  text-decoration: none

.linkedin
  margin-right: 5px
  color: #0077B7
  &:hover
    color: darken(#0077B7, 8%)

.github
  margin-left: 5px
  color: #333
  &:hover
    color: #4078C0

/* a
  text-decoration: none
  display: inline-block
  .social-icon
    height: 50px
    width: auto
    .linkedin-icon-color
      fill: #0077B7
    .github-icon-color
      fill: #0E2635
  .linkedin-icon:hover
    .linkedin-icon-color
      fill: darken(#0077b7, 8%)
  .github-icon:hover
    .github-icon-color
      fill: lighten(#0E2635, 15%) */
