.case-study
  background-color: $light-grey
  padding-bottom: 100px
  .case-wrapper
    max-width: 2560px
    margin: 0 auto
    .case-header
      max-width: 1100px
      margin: 0 auto
      position: relative
      height: 230px
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      .logo
        position: absolute
        top: 25px
        left: 0px
      .logo-text
        color: $white
        font-size: 28px
        font-weight: 900
        margin: -2px 0
        filter: $text-shadow
      .case-image
        max-width: 350px

  .case-info
    max-width: 1100px
    margin: 0 auto
    padding-top: 30px
    padding-bottom: 10px
    background-color: $white
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1)
    .author-date
      margin-top: -20px
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      .author-avatar
        max-width: 25px
        border-radius: 50%
      .author
        margin-left: 10px
        text-transform: uppercase
        font-size: 12px
        color: lighten($lighter-text-primary, 10%)
      .date
        text-transform: uppercase
        font-size: 12px
        color: lighten($lighter-text-primary, 10%)
    .case-content
      text-align: center
      margin-top: 40px
      .content-image
        max-height: 370px
        margin: 10px 0 22px 0
      .image-caption
        font-family: $base-font-family
        margin: 0px auto
        padding: 20px 30px
        text-align: center
        background-color: $light-grey
      p
        text-align: left
        color: $lighter-text-primary
        max-width: 590px
        margin: 0 auto 12px auto
        padding-left: 10px
        padding-right: 10px
        line-height: 27px
    .more-projects
      max-width: 640px
      margin: 0 auto
      padding-bottom: 35px

//Bakgrundsfärger till olika case
.hogelid-header
  background-image: linear-gradient(90deg, #2C7C46 0%, #4EE088 100%)
.noizier-header
  background-image: linear-gradient(90deg, #2C3D69 0%, #7C96D9 100%)
.servicedesign-header
  background-image: linear-gradient(90deg, #CECECE 0%, #F2F2F2 100%)


// Media Queries
@media only screen and (max-width: 1100px)
  .case-study
    .case-wrapper
      .case-header
        .logo
          left: 35px
        .case-image
          padding-right: 50px
@media only screen and (max-width: 567px)
  .case-study
    padding-bottom: 0px
    .case-wrapper
      .case-header
        height: 140px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        .logo
          position: absolute
          top: 15px
          left: 10px
        .logo-text
          font-size: 22px
          margin: -8px 0
        .case-image
          max-width: 200px
          padding-right: 0px
