.footer
  border-top: 1px solid darken($light-grey, 10%)
  background-color: $light-grey
  height: 160px
  text-align: center
  font-weight: 400
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .social-links
    margin-bottom: 10px
    .footer-link-1
      margin-right: 20px
      transition: all 0.1s ease-out
      color: $lighter-text-primary
      &:hover
        color: $bluegrey-accent
    .footer-link-2
      transition: all 0.1s ease-out
      color: $lighter-text-primary
      &:hover
        color: $bluegrey-accent
    .footer-link-3
      margin-left: 20px
      transition: all 0.1s ease-out
      color: $lighter-text-primary
      &:hover
        color: $bluegrey-accent
  .copyright
    max-width: 370px
    p
      font-size: 14px
      margin: 10px 0
      line-height: 18px
      font-weight: 400
      color: $lighter-text-primary

