.header
  position: relative
  .hero-image
    background: linear-gradient(-180deg, rgba(44,61,105,0.60) 0%, rgba(0,0,0,0.60) 100%) , url("../img/forest-drone-photo.jpg")
    background-size: cover
    background-position: center center
    height: 100vh
    .logo
      padding-top: 25px
      padding-left: 35px
    p
      color: $white
      font-size: 28px
      font-weight: 900
      margin: -2px
    h1
      text-align: center
      color: $white
      width: 90%
      font-size: 48px
      font-weight: 900
      text-transform: uppercase
      margin: 0
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      display: inline-block
  i
    position: absolute
    bottom: 5vh
    left: 50%
    transform: translate(-50%)
    color: rgba($white, .3)


