.portfolio-wrapper
  max-width: 1680px
  margin: 0 auto

.project-info
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #E9E9E9 98%)

.info-content
  padding: 25px

.project-image
  background-image: radial-gradient(#5772A3 0%, #2C3E6A 100%)
  img
    max-width: 100%
    height: auto
