.portfolio-wrapper
  max-width: 1680px
  margin: 0 auto

.project-info
  background-image: linear-gradient(-180deg, #F3F3F3 0%, #FFFFFF 100%)

.info-content
  padding: 25px
  h2
    text-transform: uppercase
    font-weight: 300
    font-size: 36px

.project-image
  display: flex
  flex-direction: column
  justify-content: center
  img
    align-content: center
    align-items: center

.hogelid-image
  background-image: radial-gradient(#4EE088 0%, #2C7C46 100%)

.noizier-image
  background-image: radial-gradient(#7A91CB 0%, #3C4761 100%)

.skill-tag
  color: $white
  background-color: $orange-accent
  font-size: 14px
  font-weight: 700
  text-transform: uppercase
  margin-right: 10px
  margin-bottom: 10px
  padding: 4px 10px
  border-radius: 3px
  display: inline-block
