.portfolio-wrapper
  max-width: 1680px
  margin: 0 auto

.project-info
  background-image: linear-gradient(-180deg, #F3F3F3 0%, #FFFFFF 100%)

.info-content
  max-width: 640px
  margin: 0 auto
  padding: 25px
  h2
    text-transform: uppercase
    font-weight: 300
    font-size: 36px

.project-image
  display: flex
  flex-direction: column
  justify-content: center
  img
    align-content: center
    align-items: center

.hogelid-image
  background-image: radial-gradient(#4EE088 0%, #2C7C46 100%)

.noizier-image
  background-image: radial-gradient(#7C96D9 0%, #2C3D69 100%)

//.zoom-hogelid
  transition: all 0.2s ease-in-out
  transform: scale(1)

//.hogelid-info:hover .zoom-hogelid
  transform: scale(1.04)

//.zoom-noizier
  transition: all 0.2s ease-in-out
  transform: scale(1)

//.noizier-info:hover .zoom-noizier
  transform: scale(1.04)

//.zoom-blueprint
  transition: all 0.2s ease-in-out
  transform: scale(1)

//.blueprint-info:hover .zoom-blueprint
  transform: scale(1.04)

.skill-tag
  color: $white
  background-color: $orange-accent
  font-size: 12px
  font-weight: 700
  text-transform: uppercase
  margin-right: 10px
  margin-bottom: 10px
  padding: 4px 10px
  border-radius: 3px
  display: inline-block

// Media Queries
@media only screen and (max-width: 620px)
  .info-content
    padding: 20px
    h2
      font-size: 33px
  .skill-tag
    font-size: 10px
