.footer
    color: $primary-color
    border-top: 1px solid lighten($primary-color, 50%)
    margin-top: 35px
    height: 100px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.footer-ws
    font-size: 14px
    margin-bottom: 20px
    p
        // color: transparentize($primary-text-color, 0.5)
        color: rgba($color-white, .5)

.hr
    max-width: 362px
    height: 1px
    // background-color: transparentize($primary-text-color, 0.8)
    background-color: rgba($color-black, .2)
    margin: 15px auto
    border-radius: 15px
