.container-fluid
    position: relative

.banner-header
    background-image: url('/img/background.svg')
    background-position: center center
    background-size: cover
    min-height: 100vh
    position: relative

.header-cta
    margin-top: 35px

.project-stuff
    p
        text-align: center
        max-width: 400px
        margin: 20px auto 45px auto

.pos-relative
    position: relative
