.my-profile
    background-color: rgba($color-white, .5)
    max-width: 740px
    margin: 27vh auto 15px auto
    border-radius: 12px
    padding-bottom: 110px
    box-shadow: 0px 3px 20px $shadow
    h3
        font-size: 26px
        letter-spacing: -0.5px
        margin-top: 48px
        margin-bottom: 6px

.profile-avatar
    width: 180px
    height: 180px
    margin-top: -90px
    border-radius: 100%
    border: 5px solid $color-white

.pin
    height: 24px
    margin-right: 8px
    margin-top: -4px
    box-shadow: none

.bio-end
    margin-bottom: 40px

.cta-button-mail
    background-color: $primary-color
    color: $color-white
    border-radius: 55px
    font-weight: 700
    padding-top: 12px
    padding-bottom: 12px
    padding-left: 60px
    padding-right: 60px
    border: none
    font-size: 17px
    box-shadow: 0 8px 12px -8px $shadow
    transition: 200ms
    margin-bottom: 24px
    &:hover
        background-color: darken($primary-color, 8%)
        color: $color-white
        box-shadow: 0 9px 12px -6px $shadow

.cta-button-linkedin
    @extend .cta-button-mail
    background-color: $color-white
    color: $primary-color
    border: 2px solid $primary-color
    &:hover
        border: 2px solid darken($primary-color, 8%)
