.error-404
    background-image: url('/img/background.svg')
    background-position: center center
    background-size: cover
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    h1
        font-weight: 700
        color: $color-white
        text-transform: uppercase
    p
        color: $color-white

.button-cta
    margin-top: 22px
