html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family: $base-font-family

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: $base-font-family
  font-size: $base-font-size

p
  color: $text-primary
  line-height: 26px

.section-wrapper
  max-width: 1200px
  margin: 0 auto

.hr
  background-color: $accent
  max-width: 450px
  margin: 40px auto
  height: 4px
  border-radius: 50px
  padding-left: 10px
  padding-right: 10px
