@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato:300,400,700,900')

html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family: $base-font-family

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: $base-font-family
  font-size: $base-font-size

.pure-g > div
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

h1, h2, h3
  color: $lighter-text-primary
  font-weight: 300
  text-transform: uppercase

p
  color: $text-primary
  line-height: 26px
  font-weight: 300

img
  max-width: 100%
  height: auto

.section-wrapper
  max-width: 1200px
  margin: 0 auto

.hr
  margin: 20px auto
  height: 2px
  width: 300px
  background-color: $orange-accent
