html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family: $base-font-family

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: $base-font-family
  font-size: $base-font-size

h1, h2, h3
  color: $lighter-text-primary
  font-weight: 300
  text-transform: uppercase

p
  color: $text-primary
  line-height: 26px
  font-weight: 300

img
  max-width: 100%
  height: auto

.section-wrapper
  max-width: 1200px
  margin: 0 auto

.hr
  margin: 25px auto
  height: 2px
  width: 250px
  background-color: $orange-accent
