// Colors
$white: #ffffff
$lighter-text-primary: #757575
$text-primary: #4a4a4a
$orange-accent: #ed7932
$bluegrey-accent: #2c3840

// Typography
$base-font-size: 20px
$base-font-family: 'Lato', Arial, sans-serif

// CSS-Tricks
.first
  margin-top: 0 !important
  margin-left: 0 !important
.last
  margin-bottom: 0 !important
  margin-right: 0 !important
.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right
