// Typography
$base-font: 'Roboto Condensed', helvetica neue, helvetica, arial, sans-serif
$base-font-size-lg: 20px
$base-font-size: 20px
$base-font-size-xs: 16px

//Colors
$primary-color: #5886E8
$accent-color: #ffa500
$color-white: #FCFDFF
$color-black: #1a1a1a
$shadow: rgba(0,0,0,0.3)
$primary-text-color: #494E63

//Shortcuts
.text-primary
    color: $primary-text-color
.bold-text
    font-weight: 700
